@import '../../styles/shared.scss';

.picture-text-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture-text-logo {
  width: 15 * $scale-unit;
}

.picture-text-label {
  margin-top: 2 * $scale-unit;
  font-size: 20px;
  color: $dark_shade;
}