@import './styles/shared.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@mixin heading-font-family {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

* {
  margin: 0;
  box-sizing: border-box;
}

app-root {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: $light_shade;
}

.app-component {
  width: 100%;
  max-width: 1200px;
  padding: 2 * $scale-unit;
}

.user-name {
  @include heading-font-family();
  font-size: 35px;
  text-align: center;
  color: $main_color;
  margin: (8 * $scale-unit) 0 (3 * $scale-unit) 0;
}

.user-desc {
  @include heading-font-family();
  font-size: 20px;
  color: $dark_shade;
  text-align: center;
}

.user-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: (6 * $scale-unit) 0;
  width: 100%;
}

.user-picture {
  width: 100%;
  max-width: 150px;
  border-radius: 50%
}

.section-heading {
  @include heading-font-family();
  font-size: 20px;
  color: $dark_shade;
  margin-bottom: 2 * $scale-unit;
}