@import './styles/shared.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  @include content-font-family;
}

app-root {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: $light_shade;
}

.app-component {
  width: 100%;
  max-width: 1200px;
  // padding: 2 * $scale-unit;
}